

.titulo {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 753px) {
  .upload {
    font-size: .6rem;
  }
}
@media only screen and (max-width: 931px) {
  .no-visible-mobile{
    display: none;
  }
}

