<span class="titulo">Gerenciar Usuários</span>

<div class="gerenciar-item mb-3" routerLink="/admin/usuarios">
  <span>Todos os Usuários</span>
  <i class="fas fa-chevron-right"></i>
</div>
<!-- <div class="gerenciar-item mb-3" routerLink="/admin/pendente/usuario">
  <span>Usuários Pendentes</span>
  <i class="fas fa-chevron-right"></i>
</div> -->
<div class="gerenciar-item mb-3" routerLink="/admin/pendente/documento">
  <span>Aprovação de documentos</span>
  <i class="fas fa-chevron-right"></i>
</div>
<div class="gerenciar-item mb-3" routerLink="/admin/usuarios/email">
  <span>Usuários que aceitaram receber emails</span>
  <i class="fas fa-chevron-right"></i>
</div>
<!-- <div class="gerenciar-item mb-3" routerLink="/admin/gerenciar/alunos">
  <span>Gerenciar Alunos</span>
  <i class="fas fa-chevron-right"></i>
</div>
<div class="gerenciar-item mb-3" routerLink="/admin/gerenciar/administradores">
  <span>Gerenciar Administradores</span>
  <i class="fas fa-chevron-right"></i>
</div>
<div class="gerenciar-item" routerLink="/admin/gerenciar/professores">
  <span>Gerenciar Professores</span>
  <i class="fas fa-chevron-right"></i>
</div> -->
